<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event CRUD</title>
</head>
<body>

<h2>Add Event</h2>

<form action="/events/create" method="post">
    <label for="eventTitle">Event Title:</label>
    <input type="text" id="eventTitle" name="eventTitle" required>

    <label for="eventDate">Event Date:</label>
    <input type="date" id="eventDate" name="eventDate" required>

    <!-- <label for="categories">Category</label>
    <select name="categories">
        <option value="1">Työtapahtuma</option>
        <option value="2">Category 2</option>
    </select> -->

    <button type="submit">Create Event</button>
</form>

<h2>All Events</h2>
<table border="1">
    <thead>
        <tr>
            <th>Event Title</th>
            <th>Event Description</th>
            <th>Event Date</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        <tr th:each="event : ${events}">
            <td>            
                <a th:href="@{/events/{id}(id=${event.id})}">
                <span th:text="${event.eventTitle}">Event Title</span>
                </a>
            </td>
            <td th:text="${event.eventDescription}">Event Description</td>
            <td th:text="${#dates.format(event.eventDate, 'dd-MM-yyyy')}">Event Date</td>
            <td>

                <span th:each="category : ${event.categories}" th:text="${category.categoryName} + ' '"></span>
            </td>
            <td>
                <form th:action="@{/events/edit/{id}(id=${event.id}, eventTitle=${event.eventTitle}, 
                eventDate=${event.eventDate})}" method="get">
                    <button type="submit">Edit</button>
                </form>

                <form th:action="@{/events/delete/{id}(id=${event.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>

    </tbody>
    
</table>

</body>
</html>